fastapi
uvicorn
sqlalchemy>=2.0.29
alembic
psycopg2-binary
pgvector>=0.2.5
httpx
langchain
langchain-community
langchain-postgres
pydantic
pydantic-settings
asyncpg
python-multipart
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
